@model List<Ruby.Models.Page>
<h2>Pages</h2>

<table id="pages">
    <tr>
        <td colspan="5"><a class="btn btn-primary" href="/Admin/AddPage/">Add new page</a></td>
    </tr>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Parent Id</th>
        <th></th>
        <th></th>
    </tr>
    @foreach (var page in Model)
    {
        <tr>
            <td>@page.Id</td>
            <td>@page.Name</td>
            <td>@page.ParentId</td>
            <td colspan="2">
                <a class="btn btn-info" href="/Admin/EditPage/@page.Id">Edit</a>
                @if (!page.ParentId.HasValue)
                {
                    <a class="btn btn-success" href="/Admin/AddPage?parentId=@page.Id">Add subpage</a>
                }
                <a class="delete btn btn-warning" data-href="/Admin/DeletePage/@page.Id">Delete</a>
            </td>
        </tr>
    }
</table>
<script type="text/javascript" src="~/Scripts/pages.js"></script>