body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #f5f5f5;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

h2{
    margin-top:10px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.sub-link-first {
    padding-right: 10px !important;
    float: left !important;
}

.sub-link{
    padding-left: 0 !important;
    float: left !important;
}

.Tourmalin,
.Sapphire,
.SapphireStar,
.Rubin,
.RubinStar,
.Garnet,
.Zirkon,
.Beryl,
.BerylAquamarin,
.Aquamarin,
.Amethyst,
.Citrine,
.Ametrine,
.Opal,
.Kunzite {
    padding-left:10px;
}

/*.Tourmalin {
    background-color: white;
}

.Sapphire {
    background-color: white;
}

.SapphireStar {
    background-color: white;
}

.Rubin {
    background-color: white;
}

.RubinStar {
    background-color: white;
}

.Garnet {
    background-color: white;
}

.Zirkon {
    background-color: white;
}

.Beryl {
    background-color: white;
}

.BerylAquamarin {
    background-color: white;
}

.Aquamarin {
    background-color: white;
}

.Amethyst {
    background-color: white;
}

.Citrine {
    background-color: white;
}

.Ametrine {
    background-color: white;
}

.Opal {
    background-color: white;
}

.Kunzite {
    background-color: white;
}*/

/* ReSharper disable once DeclarationIsEmpty */
.products {
    
}

.product-type {
    cursor: pointer;
    height: 175px;
    /*margin: 0 5px 0px 5px;*/
    background-color: #eeeeee;
    /*margin-bottom: 10px;*/
}

    .product-type img {
        width: 100%;
        max-height: 100px;
    }

.product {
    cursor: pointer;
    height: 250px;
    background-color: #eeeeee;
}

    .product img {
        width: 100%;
        max-height: 100px;
    }

    .product button {
        float:right;
        margin-top: -17px;
    }

.product-text {
    font-size:17px !important;
    color:#000000;
    font-weight: bold;
}

.product-cart {
    height: 75px;
    margin: 0 5px 0px 5px;
    background-color: white;
    margin-bottom: 10px;
}

    .product-cart img {
        float:left;
        margin-left: 2%;
        margin-top: 2%;
        margin-right:11%;
        width: 50px;
    }

.cart-info {
    float: left;
    margin-top: 5%;
    width: 150px;
}

.remove {
    float: right;
    margin-top: 4%;
}

.sessCurr {
    cursor: pointer;
}

/*MODAL*/

.thumb:hover {
    opacity: 0.7;
    cursor: zoom-in;
    cursor: -moz-zoom-in;
    cursor: -moz-zoom-in;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.5); /* Black w/ opacity */
}

.modal-body {
    padding: 0px !important;
    width: 65%;
    margin: auto;
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    width: 100%;
    max-width: 800px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #222;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

/* The Close Button */
.close {
    position: absolute;
    top: -20px;
    right: 35px;
    color: #111;
    font-size: 65px;
    font-weight: bold;
    transition: 0.3s;
}

    .close:hover,
    .close:focus {
        color: #999;
        text-decoration: none;
        cursor: pointer;
    }

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
    .modal-content {
        width: 100%;
    }
}

/*END MODAL*/

/*PAGES TABLE*/
#pages {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

    #pages td, #pages th {
        border: 1px solid #ddd;
        padding: 8px;
    }

    #pages tr:nth-child(even) {
        background-color: #c4c4c4;
    }

    #pages tr:hover {
        background-color: #ddd;
    }

    #pages th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #4CAF50;
        color: white;
    }

    /*END PAGES TABLE*/