@{
    ViewBag.Title = "Roland stones home";
}

<div class="jumbotron">
    <h1>Roland Stones</h1>
    <p class="lead">Roland stones lorum ipsum dolor info about stones and jewellery.</p>
    <p><a href="@Url.Action("Index", "Product")" class="btn btn-primary btn-lg">Go explore our stones &raquo;</a></p>
</div>

<div class="row">
    @{Html.RenderAction("Index", "Product");}
</div>