

<div class="container" id="cart" data-url="@Url.Action("GetCart","Product")">
    <div class="row">
        <h2>Cart</h2>
    </div>
    <div class="row products" id="cart-products">

    </div>
    <row></row>
    <row>
        <div class="col-xs-12">
            <br />
            <br />
            <br />
            <br />
            <i>Current rates: USD to SEK: @(ViewBag.SEK) and USD to EUR: @(ViewBag.EUR) from</i>
            <a href="https://www.freeforexapi.com">
                <img alt="Free Forex API" src="https://www.freeforexapi.com/Images/link.png" height="20">
            </a>
        </div>
    </row>
</div>
<script type="text/javascript" src="~/Scripts/products.js"></script>

