

<div class="container" id="cart" data-url="@Url.Action("GetCart","Product")">
    <div class="row">
        <h2>Cart</h2>
    </div>
    <div class="row products">

    </div>
</div>
<script type="text/javascript" src="~/Scripts/products.js"></script>

