@model List<Ruby.Models.ProductType>

<div class="container">
    @foreach (var productGroup in Model)
    {
        <div class="row"><h2>@productGroup.Name</h2></div>
            <div class="row">
                @foreach (var product in productGroup.Products)
                {

                    <div class="col-sm-4">
                        <a><img width="100" src="~/UploadedImages/@(product.InternalId + ".jpg")" />@product.Type</a>
                    </div>
                }
            </div>
            }

        </div>

