<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/babf2f77-51c5-4f59-a0f3-f1fc92b43e71/resourcegroups/RolandStonesRG/providers/Microsoft.Web/sites/RolandStones</ResourceId>
    <ResourceGroup>RolandStonesRG</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://rolandstones.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>rolandstones.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>RolandStones</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$RolandStones</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="Jewel2018" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:jewel2018.database.windows.net;Initial Catalog=Jewel2018;Persist Security Info=True;User ID=pathall;Password=Stone1!e" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Ruby.Models.ApplicationDbContext, Ruby" MigrationConfiguration="Ruby.Migrations.Configuration, Ruby" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="Jewel2018-Web.config Connection String">
      <ParameterValue>Data Source=tcp:jewel2018.database.windows.net;Initial Catalog=Jewel2018;Persist Security Info=True;User ID=pathall;Password=Stone1!e</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>